/* 设置网页的基本CSS样式 */
/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/background.jpg');
    background-repeat: repeat;
    background-size: auto; /* 将背景图片设置为覆盖整个容器 */
    color: #fff;
    font-size: 16px;
}*/
body, html {
  height: 100%;
  margin: 0;
}
body {
  background:
  radial-gradient(#fff 3px, transparent 4px),
  radial-gradient(#fff 3px, transparent 4px),
  linear-gradient(#465298 4px, transparent 0),
  linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
  linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #465298;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  );
color: #fff;
}
/* 设置容器的样式,使其居中并占据90%的宽度 */
.container {
    width: 98%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1% 1%;
    text-align: center;
    position: relative;
    z-index: 1;
}

/* 设置顶部图片的样式 */
.top-image {
    width: 70%;
    max-width: 90%;
    height: auto;
    object-fit: cover;
    margin: 1.5% auto 1.5%; /* 居中并添加底部边距 */
}
/* 设置网站图标的样式 */
.fav-image {
    width: 10%;
    max-width: 30%;
    height: auto;
    margin: 0; /* 居中并添加底部边距 */
}
#cloud-iframe, #hom-page, #next-page {
    /*background-color: transparent;  设置主页面的背景为透明 */
    display: none;
}
#hom {
    width: 95%;
    max-width: 100%;
	height: 80px;
    margin: 2% auto;
    padding: 2% 2%;
    text-align: center;	
    position: relative;
    z-index: 1;
	background:rgba(0, 0, 0, 0.5);
	border-radius: 15px;
    display: none;
}
#next {
    width: 95%;
    max-width: 100%;
	height: auto;
    max-height: 420px;
    margin: 2% auto;
    padding: 2% 2%;
    text-align: center;
    position: relative;
    z-index: 1;
    background:rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    display: grid; /* 添加网格布局 */
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr)); /* 根据容器大小自动调整列数和列宽 */
    grid-gap: 10px; /* 可选:添加网格间距 */
    justify-content: start; /* 将网格项目左对齐 */
    align-content: start; /* 将行与行之间的对齐方式设置为顶部对齐 */
    grid-auto-flow: row; /* 新增这一行 */
}

#cloud-page{
    width: 100%;
    max-width: 450px;
	height: 50%;
	max-height: 650px;
    margin: 0 auto;
    padding: 2% 2%;
    text-align: center;
    position: relative;
    z-index: 1;
	display: none;
}
/* 设置标题(h1)的样式 */
h1 {
    margin-top: 2.5%;
    margin-bottom: 5.25%;
    font-size: 2.5rem;
    text-align: center;
}
/* 设置副标题(p)的样式 */
p {
    margin-top: 0;
    margin-bottom: 5.25%;
    font-size: 1.4rem;
    color: #ccc;
    width: 100%;
    max-width: 100%;
    height: auto;
}
/* 设置菜单的样式 */
.menu, #hom, #next, #hot-search-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5%;
    font-size: 1.2rem; /* 设置菜单文本的字体大小 */
}
.menu a, #hom a, #hot-search-nav a {
    color: #fff;
    text-decoration: none;
    margin: 5% 1.25%;
}
.menu a {
	font-size: 1.8rem;
}
#next a {
    color: #fff;
    text-decoration: none;
    margin: 0 1.25%;
}
.menu a:hover {
    color: #ccc;
}
/* 设置搜索框的样式 */
.search-container {
    display: flex;
    align-items: center;
	height: 40px;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    border-radius: 20px; /* 圆角边框 */
    overflow: hidden; /* 隐藏溢出的内容 */
    position: relative; /* 确保子元素的绝对定位是相对于此容器 */
}
input[type="text"] {
    border: none;
    padding: 18px;        
    color: white; /* 白色字体 */
	width: 85%; /* 设置一个固定宽度 */
	font-size: 18px;
    background-color: transparent; /* 透明背景 */
    outline: none; /* 去除焦点边框 */
}
select {
    position: absolute;
    right: 1px; /* 或者根据需要调整 */
    top: 50%;
    transform: translateY(-50%); /* 垂直居中 */
    border: none;
    padding: 10px;
    height: 42px;
    width: 10%; /* 设置一个固定宽度 */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    color: white; /* 白色字体 */
    -webkit-appearance: none; /* 移除默认样式 */
    appearance: none; /* 移除默认样式 */
    background-repeat: no-repeat;
    background-position: right 10px center; /* 调整图标位置 */
    background-size: 24px; /* 背景图标大小 */
    text-indent: 110%; /* 将文本移出可视范围 */
    overflow: hidden; /* 防止文本溢出 */
}
/* 默认的放大镜图标 */
select.default-icon {
    background-image: url('../images/search.svg');
}

/* 热门页面样式 */
#hotpage {
    width: 98%;
    max-width: 100%;
    height: auto;
    max-height: 420px;
    margin: 1.5% auto;
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    display: none;
}

/* 热门搜索导航栏内的div样式 */
#hot-search-nav div {
    cursor: pointer;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin: 1.5% 0;
    font-size: 1.5rem;
}

/* 热门搜索列表样式 */
#hotSearchList {
    list-style: none;
    padding: 0 10px;
    margin: 2% auto;
    width: 100%;
    max-height: 300px; /* 设置最大高度 */
    overflow-y: auto; /* 高度方向可滚动 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    font-size: 1.125rem;
}

/* 针对Chrome, Safari, Opera浏览器隐藏滚动条 */
#hotSearchList::-webkit-scrollbar {
    display: none;
}

/* 热门搜索列表内的li样式 */
#hotSearchList li {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    margin: 1.5px;
    border-radius: 5px;
    justify-content: stretch;
}
/* 热门搜索列表内的链接样式 */
#hotSearchList li a {
    color: white; /* 设置链接颜色 */
    text-decoration: none; /* 去除下划线 */
    margin: auto 10px auto;
    text-align: center;
    padding: 1% 1%;
    font-size: 1.1rem;
}
.num {
    font-size: 0.75rem;
    margin: auto 10px 10px auto;
}
.index-column {
    width: 5%;
    margin: auto 0 auto;
    text-align: center;
    font-size: 1rem;
}


/* 针对小屏幕设备的样式调整 */
@media (max-width: 767px) {
    .container {
        padding: 1.25% 1.25%;
    }
    .top-image {
        margin-bottom: 2.5%;
    }
	.menu a {
		font-size: 1.2rem;
	}
    h1 {
        margin-top: 1.25%;
        margin-bottom: 0.625%;
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
        margin-bottom: 1.25%;
    }
}
