/* 设置容器的样式 */
#container {
    display: flex;
}

/* 设置视频库的样式 */
#video-gallery {
    flex: 1;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 10px;
    overflow-y: auto;
}

/* 设置视频容器的样式 */
#video-gallery > div {
    border: 1px dashed #ccc;
    padding: 10px;
}

/* 设置缩略图的大小 */
#video-gallery img {
    width: 100%;
    height: 70%;
}

/* 设置播放器框架的样式 */
#playerFrame {
    flex: 2;
    display: none;
}

/* 当播放视频时修改容器的布局 */
#container.playing {
    flex-direction: row;
}

#container.playing #video-gallery {
    width: 16%;
    margin-right: 84%;
    grid-template-columns: none;
}

#container.playing #playerFrame {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 83%;
	height: 100%;
}

/* 媒体查询：当屏幕宽度小于600px时设置样式 
@media (max-width: 600px) {
    #container {
        flex-direction: column;
    }

    #video-gallery {
        margin-right: 0;
        grid-template-columns: none;
        width: 100%;
    }

    #playerFrame {
        display:block;
        width:100%;
        height:auto; 
        position:relative; 
        top:auto; 
        right:auto; 
        margin-right:auto; 
        margin-left:auto; 
    }
}
*/